<% client = current_driver.trips.find_by(status: :assigned).client %>
<% trip = current_driver.trips.find_by(status: :assigned) %>
<% trip.build_survey %>

<div class="shadow bg-white m-auto w-75">
	<div class="alert alert-secondary" role="alert" style="margin-bottom: 0rem;">
		<div class="row w-50 mx-auto">
			<div class="col-2 pb-2 pt-2">
				<%= fa_icon "user", class: "fa-5x" %>
			</div>
			<div class="col-10 pb-2 pt-2">
				<strong>Nombre: <%= client.first_name + " " + client.last_name%></strong><br>
				Origen: <%= trip.origin %> <br>
				Destino: <%= trip.destiny %> <br>
				Tarifa: <%= trip.rate %>
			</div>
		</div>
		<hr>
		<div class="mb-0">
			<button type="button" class="btn btn-success w-50"><%=fa_icon "phone", text: " Llamar al cliente" %></button>
		</div>
	</div>


  <div id='map' class="mx-auto" style='height: 500px; text-align: justify'></div>
	<script>
		if ("<%= trip.origin %>" === "Tecnologico de Monterrey"){
			var start = [-100.289736,25.650897];
		} else if ("<%= trip.origin %>"  === "Garza Sada 1892"){
			var start = [-100.286160,25.640033];
		} else {
			var start = [-100.275420,25.653023];
		}
		if ("<%= trip.destiny %>" === "Central de autobuses Monterrey"){
			var end = [-100.319579, 25.686925];
		} else {
			var end = [ -100.367201,25.674660];
		}
		mapboxgl.accessToken = 'pk.eyJ1IjoiYWFsYmVydG85OCIsImEiOiJjam82ZWt4N2QwMzhqM3FvOWI1MnlsZ3N2In0.zx6DeOmfLPjcxmW-AAwgeg';
		var map = new mapboxgl.Map({
				container: 'map',
				style: 'mapbox://styles/mapbox/dark-v9',
				center: [-100.29,25.67],
				zoom: 12.5
		});
		map.on('load', function(){
			getRoute();
		});
		function getRoute() {
			var directionsRequest = 'https://api.mapbox.com/directions/v5/mapbox/cycling/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;
			$.ajax({
				method: 'GET',
				url: directionsRequest,
			}).done(function(data){
				var route = data.routes[0].geometry;
				map.addLayer({
					id: 'route',
					type: 'line',
					source: {
						type: 'geojson',
						data: {
							type: 'Feature',
							geometry: route
						}
					},
					paint: {
						'line-width': 2,
						'line-color': "#FFFFFF"
					}
				});
				map.addLayer({
					id: 'start',
					type: 'circle',
					source: {
						type: 'geojson',
						data: {
							type: 'Feature',
							geometry: {
								type: 'Point',
								coordinates: start
							}
						}
					},"paint": {
							"circle-radius": 10,
							"circle-color": "#008000"
					}
				});
				map.addLayer({
					id: 'end',
					type: 'circle',
					source: {
						type: 'geojson',
						data: {
							type: 'Feature',
							geometry: {
								type: 'Point',
								coordinates: end
							}
						}
					},
					"paint": {
							"circle-radius": 10,
							"circle-color": "#FF0000"
					}
				});
			});
		}
	</script>
	<button class='btn btn-danger btn-block w-100' data-toggle= "modal" data-target="#survey-modal">Finalizar Viaje</button>
</div>

<div class="modal hide fade" id="survey-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
  	<%= simple_form_for(trip, url: end_trip_path(trip)) do |f| %>
    
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Porfavor conteste esta encuesta</h5>
        </div>
        
        <%= f.hidden_field :status, value: :completed %>
  	    <%= f.error_notification %>
        
        <div class="modal-body">
          <h6>¿Cómo evaluaría al pasajero?</h6>
        	<%= f.simple_fields_for(:survey) do |s| %>
        		<%= s.input :client_rating, as: :integer, label: false,
                         input_html: { min: '0', max: '5' }, placeholder: "Del 0 al 5" %>
        	<% end %>
        </div>
        <div class="modal-footer">
  			  <%= f.button :submit, class: 'btn btn-primary', value: "Guardar" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
