<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />

<body id="LoginForm">
  <div class="shadow bg-white m-auto w-75">
  <%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row mx-auto">
    <div class="col-md-auto">
      <div class="mx-auto text-center">
        <%=fa_icon "map-marker",class:" fa-2x", style: "color:green"%>
      </div>
    </div>
    <div class="col-11">
      <%= form.select(:origin,['Tecnologico de Monterrey', 'Garza Sada 1892', 'Nuevo Sur'],{},{class: "form-control w-100", id: "origen",onchange: "XX()"}) %>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-md-auto">
      <div class="mx-auto">
        <%=fa_icon "map-marker",class:"fa-2x text-center", style: "color:red"%>
      </div>
    </div>
    <div class="col-11">
      <%= form.select(:destiny,['Central de autobuses Monterrey','Central de autobuses San Jeronimo'],{},{class: "form-control w-100", id: "destino",onchange: "XX()"}) %>
    </div>
  </div>

<div id='map' class="mx-auto" style='height: 500px; text-align: justify'>
  <script>
    var start = [-100.289736,25.650897];
    var end = [-100.319579, 25.686925];
    mapboxgl.accessToken = 'pk.eyJ1IjoiZXhhbXBsZXMiLCJhIjoiY2lqbmpqazdlMDBsdnRva284cWd3bm11byJ9.V6Hg2oYJwMAxeoR9GEzkAA';
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/dark-v9', //stylesheet location
      center: [-100.29,25.67], // starting position2910, 7776
      zoom: 12.5 // starting zoom
    });

    map.on('load', function(){
      getRoute();
    });


    function XX(){
        if (document.getElementById("destino").value == "Central de autobuses Monterrey"){
          end = [-100.319579, 25.686925];
        } else {
          end = [ -100.367201,25.674660];
        }

        if (document.getElementById("origen").value == "Tecnologico de Monterrey"){
          start = [-100.289736,25.650897];
        } else if (document.getElementById("origen").value == "Garza Sada 1892"){
          start = [ -100.286160,25.640033];
        } else {
          start = [-100.275420,25.653023];
        }
        getRoute(start,end);
    }

    function getRoute(start,end) {
      // var start = [-100.275495, 25.653109];
      // var end = [-100.319579, 25.686925];
      var directionsRequest = 'https://api.mapbox.com/directions/v5/mapbox/cycling/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;
      $.ajax({
        method: 'GET',
        url: directionsRequest,
      }).done(function(data){
        var route = data.routes[0].geometry;
        map.addLayer({
          id: 'route',
          type: 'line',
          source: {
            type: 'geojson',
            data: {
              type: 'Feature',
              geometry: route
            }
          },
          paint: {
            'line-width': 2,
            'line-color': "#FFFFFF"
          }
        });
        map.addLayer({
          id: 'start',
          type: 'circle',
          source: {
            type: 'geojson',
            data: {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: start
              }
            }
          },"paint": {
              "circle-radius": 10,
              "circle-color": "#008000"
          }
        });
        map.addLayer({
          id: 'end',
          type: 'circle',
          source: {
            type: 'geojson',
            data: {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: end
              }
            }
          },
          "paint": {
              "circle-radius": 10,
              "circle-color": "#FF0000"
          }
        });
      });
    }
  </script>
</div>



  <%= form.hidden_field :client_id, :value => current_client.id %>
  <%= form.hidden_field :datetime, :value => DateTime.now %>
  <%= form.hidden_field :rate, :value => 75 %>


  <div class="actions">
    <%= form.submit "Crear viaje", class: 'btn btn-primary btn-lg w-100'%>
  </div>

<% end %>
</div>
</body>
