<% trips.each do |trip| %>
  <div>
		<div class="card text-center w-75 mx-auto">
			<div class="card-header">
				 <strong>Cliente: <%= trip.client.first_name %> <%= trip.client.last_name %></strong>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col">
						<%=fa_icon 'map-marker', style: "color:green"%> Origen: <%= trip.origin %><br>
						<%=fa_icon 'map-marker', style: "color:red"%> Destino: <%= trip.destiny %><br>
						<%= fa_icon 'dollar-sign' %> Tarifa: $<%= trip.rate %><br>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<%= button_to 'Aceptar viaje', accept_trip_path(trip), method: 'patch', params: { driver_id: current_driver.id, status: :assigned, id: trip.id }, class: "btn btn-primary btn-block" %>
			</div>
		</div>
  </div>
  <br>
  <br>
<% end %>