<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />


<% if @trips.any? and not current_driver.trips.find_by(status: 'assigned')%>
<h1>Viajes en busca de un conductor</h1>
	<% @trips.each do |t| %>
	<div>
			<div class="card text-center w-xl-75 w-m-75 w-lg-75 w-sm-100 mx-auto">
				<div class="card-header">
					 <strong>Cliente: <%= t.client.first_name %> <%= t.client.last_name %></strong>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col">
							<%=fa_icon 'map-marker', style: "color:green"%> Origen: <%= t.origin %><br>
							<%=fa_icon 'map-marker', style: "color:red"%> Destino: <%= t.destiny %><br>
							<%= fa_icon 'dollar-sign' %> Tarifa: $<%= t.rate %><br>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<%= button_to 'Aceptar viaje', accept_trip_path(t), method: 'patch', params: [{driver_id: current_driver.id},{ status: 'assigned'}],class:"btn btn-primary btn-block" %>
				</div>
			</div>
	</div>
	<br>
	<br>
	<% end %>
<% elsif current_driver.trips.find_by(status: 'assigned') %>

<% client = current_driver.trips.find_by(status: 'assigned').client %>
<% trip = current_driver.trips.find_by(status: 'assigned') %>

<div class="shadow bg-white m-auto w-xl-75 w-m-75 w-lg-75 w-sm-100">
	<div class="alert alert-secondary" role="alert" style="margin-bottom: 0rem;">
		<div class="row w-50 mx-auto">
			<div class="col-2 pb-2 pt-2">
				<%= fa_icon "user", class: "fa-5x" %>
			</div>
			<div class="col-10 pb-2 pt-2">
				<strong>Nombre: <%= client.first_name + " " + client.last_name%></strong><br>
				Origen: <%= trip.origin %> <br>
				Destino: <%= trip.destiny %> <br>
				Tarifa: <%= trip.rate %>
			</div>
		</div>
		<hr>
		<div class="mb-0">
			<button type="button" class="btn btn-success w-50"><%=fa_icon "phone", text: " Llamar al cliente" %></button>
		</div>
	</div>


<div id='map' class="mx-auto" style='height: 500px; text-align: justify'></div>
	<script>
		if ("<% trip.origin %>" === "Tecnologico de Monterrey"){
			var start = [-100.289736,25.650897];
		} else if ("<% trip.origin %>"  === "Garza Sada 1892"){
			var start = [-100.286160,25.640033];
		} else {
			var start = [-100.275420,25.653023];
		}
		if ("<% trip.destiny %>" === "Central de autobuses Monterrey"){
			var end = [-100.319579, 25.686925];
		} else {
			var end = [ -100.367201,25.674660];
		}
		mapboxgl.accessToken = 'pk.eyJ1IjoiYWFsYmVydG85OCIsImEiOiJjam82ZWt4N2QwMzhqM3FvOWI1MnlsZ3N2In0.zx6DeOmfLPjcxmW-AAwgeg';
		var map = new mapboxgl.Map({
				container: 'map',
				style: 'mapbox://styles/mapbox/dark-v9',
				center: [-100.29,25.67],
				zoom: 12.5
		});
		map.on('load', function(){
			getRoute();
		});
		function getRoute() {
			var directionsRequest = 'https://api.mapbox.com/directions/v5/mapbox/cycling/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;
			$.ajax({
				method: 'GET',
				url: directionsRequest,
			}).done(function(data){
				var route = data.routes[0].geometry;
				map.addLayer({
					id: 'route',
					type: 'line',
					source: {
						type: 'geojson',
						data: {
							type: 'Feature',
							geometry: route
						}
					},
					paint: {
						'line-width': 2,
						'line-color': "#FFFFFF"
					}
				});
				map.addLayer({
					id: 'start',
					type: 'circle',
					source: {
						type: 'geojson',
						data: {
							type: 'Feature',
							geometry: {
								type: 'Point',
								coordinates: start
							}
						}
					},"paint": {
							"circle-radius": 10,
							"circle-color": "#008000"
					}
				});
				map.addLayer({
					id: 'end',
					type: 'circle',
					source: {
						type: 'geojson',
						data: {
							type: 'Feature',
							geometry: {
								type: 'Point',
								coordinates: end
							}
						}
					},
					"paint": {
							"circle-radius": 10,
							"circle-color": "#FF0000"
					}
				});
			});
		}
	</script>

	<%= button_to 'Finalizar viaje', end_trip_path(trip), method: 'patch', params: [{status: 'completed'}],
	               class: 'btn btn-danger btn-block w-100' %>
</div>


</div>
</div>

<% else %>

<h1>Por el momento no hay viajes...</h1>

<% end %>
