<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table>
  <thead>
    <tr>
      <th>Origin</th>
      <th>Destiny</th>
      <th>Datetime</th>
      <th>Driver</th>
      <th>Client</th>
      <th>Rate</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.origin %></td>
        <td><%= trip.destiny %></td>
        <td><%= trip.datetime %></td>
        <td><%= trip.driver %></td>
        <td><%= trip.client %></td>
        <td><%= trip.rate %></td>
        <td><%= trip.duration %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
