<h1>Viajes</h1>

    <% if @client.trips %>
        <% @client.trips.each do |t| %>
            <div>
                <div class="card text-center w-75 mx-auto">
                  <div class="card-header">
                     Viaje del dia <%= t.datetime.to_formatted_s(:short) %>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <%=fa_icon 'map-marker', style: "color:green"%> <%= "Origen: " + t.origin %><br>
                        <%=fa_icon 'map-marker', style: "color:red"%> <%= "Destino: " + t.destiny %><br>
                      </div>
                      <div class="col">
                        <%=fa_icon 'user'%> <%= "Conductor: " + t.driver.first_name %><br>
                        <%=fa_icon 'clock-o'%> Duracion: <%= t.duration.to_formatted_s(:time) %> min<br>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-muted">
                     Tarifa: $  <%= t.rate %>
                  </div>
                </div>
              </div>
              <div class="card-footer text-muted">
                Calificacion: <%= t.rate %> <%=fa_icon 'star'%>
              </div>
            </div>
        </div>
        <br>
        <br>
      <% else %>
        <div>
            <div class="card text-center w-75 mx-auto">
              <div class="card-header">
                 Viaje pendiente con destino a <%= t.destiny %>%>
              </div>
              <div class="card-body">
                 Tu conductor te recogerá en <%= t.origin %>
              </div>
              <div class="card-footer text-muted">
                <%=fa_icon 'dollar sign'%> <%= t.rate %>
              </div>
            </div>
        </div>
        <br>
      <% end %>
    <% end %>
<% end %>
