<div class="shadow bg-white m-auto pb-5 pt-5 w-xl-75 w-m-75 w-lg-75 w-sm-100">
	<h2>Perfil</h2>
	<br>
	<div>
		<h4><%= current_driver.first_name + " " + current_driver.last_name %></h4>
		<p><%= current_driver.email %></p>
		<p><%= "Rating: " + current_driver.rating %><%=fa_icon 'star'%></p>
		<p><%= "Auto registrado: " + current_driver.car.brand  + " " + current_driver.car.model%>
			<br>
			<%= "Placas: " + current_driver.car.license_plate %>
			<br>
			<%= "Color: " + current_driver.car.color %>
		</p>
		<p><%= "Estas trabajando en " + current_driver.location %></p>
	<br>
	<p><%= button_to("Editar perfil", edit_driver_registration_path, method: :get) %></p>
</div>