<!DOCTYPE html>
<html>
  <head>
    <title>TaxiUnico</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body>

  	<% if current_admin %>
		<%= render 'layouts/nav_admin' %>
	<% elsif current_driver %>
		<%= render 'layouts/nav_driver' %>
	<% elsif current_client %>
		<%= render 'layouts/nav_client' %>
	<% end %>

  </body>
</html>
