<!DOCTYPE html>
<html>
  <head>
    <title>TaxiUnico</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %><div><%= notice %></div><% end %>
    <% if alert %><div><%= alert %></div><% end %>
    <%= yield %>
  </body>
</html>
